:host {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--blue-500);
  color: var(--light-000);
}

:host a {
    text-decoration: none;
    color: var(--light-000);
}

:host a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: var(--blue-000); /* Change color on hover */
}

:host nav {
  display: flex;
  padding: 15px;
  gap: 10px;
}

:host theme-button {
  padding: 15px;
}
