:host {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--blue-500);
  color: var(--light-000);
}

:host a {
  background-color: var(--blue-700);
  text-decoration: none;
  padding: 5px;
  color: var(--light-100);
  border-bottom: 1px solid var(--light-700);
  border-radius: 10%;
}

:host a:hover {
  text-decoration: underline;
  color: var(--blue-000);
}

:host nav {
  display: flex;
  padding: 15px;
  gap: 10px;
}

:host theme-button {
  padding: 15px;
}
