body {
    display: flex; /* Use flexbox to arrange child elements */
    flex-direction: column;
}

.header {
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    flex: 1;
    min-height: calc(100vh - 100px);
}

.sidebar {
    width: 200px;
    flex-shrink: 0;
    padding: 15px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.footer {
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

